@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins";
  font-size: 1.6rem;
  background-color: #1c1c1c;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

.line::after {
  content: "";
  height: 19px;
  width: 324px;
  background-image: url("assets/images/line.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

@media screen and (max-width: 426px) {
  .line::after {
    width: 100%;
  }
}
